html {
    background-image: url(http://wallpaper.pickywallpapers.com/1600x900/subtle-flowers-pattern.jpg);
    background-position: center;
}
.calculator {
    margin: 100px 0 0 100px;
    background: transparent;
    background-color: darkgray;
    height: 300px;
    width: 225px;
}
